<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">

        <p>About Us</p>
        <p>Hello, I am Adeodatus.
            A full-stack web developer and Data scientist
            If you’re a business seeking a web presence or are looking to hire, We are here to give you the best.</p>
            <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam mollitia,
             tenetur laboriosam molestiae nobis totam et corrupti, 
            illum omnis aut sint sapiente, voluptate quia dolore alias. Animi sunt provident libero?</p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>